# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName leadership
AuthUserFile /home/mtzionmb/www/www/leadership/_vti_pvt/service.pwd
AuthGroupFile /home/mtzionmb/www/www/leadership/_vti_pvt/service.grp
